<template>
    <div class="control-panel">
        <v-container>
            <v-card>
                <v-row align="center" justify="center">
                    <v-col cols="10" align-self="center">
                        <h1>Control Panel</h1>
                        <br />
                        <br />
                        <v-btn
                            color="light-blue lighten-1"
                            dark
                            @click="setSpecialState('start')"
                            block
                        >Set Start</v-btn>
                        <br />
                        <br />
                        <v-btn
                            color="deep-purple accent-4"
                            dark
                            @click="setSpecialState('end')"
                            block
                        >Set End</v-btn>
                        <br />
                        <br />
                        <v-btn
                            color="brown darken-3"
                            dark
                            @click="setSpecialState('obstacle')"
                            block
                        >Set Obstacles</v-btn>
                        <br />
                        <br />
                        <v-btn color="white" @click="setSpecialState('normal')" block>Set Normal</v-btn>
                        <br />
                        <br />
                        <v-btn color="green lighten-2" dark @click="step()" block>Step</v-btn>
                        <br />
                        <br />
                        <v-btn color="orange" dark @click="run()" block>Run</v-btn>
                        <br />
                        <br />
                        <v-btn
                            color="deep-orange darken-2"
                            dark
                            @click="run(true)"
                            block
                        >Animated Run</v-btn>
                        <br />
                        <br />
                        <v-btn color="blue-grey" dark @click="clear()" block>Clear</v-btn>
                        <br />
                        <br />
                        <v-select
                            label="G Val Diagnol"
                            :items="gValDiagnolOptions"
                            :value="gValDiagnolOptions[0]"
                            @change="handleGValDiagnolChange"
                            outlined
                        ></v-select>
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({})
export default class ControlPanel extends Vue {
    gValDiagnolOptions = ['1', 'Math.sqrt(2)'];
    setSpecialState(state: string) {
        this.$root.$emit('setSpecialState', state);
    }
    step() {
        this.$root.$emit('step');
    }
    handleGValDiagnolChange(e: any) {
        this.$root.$emit('setGValDiagnol', eval(e));
    }
    run(animate: boolean) {
        this.$root.$emit('run', animate);
    }
    clear() {
        this.$root.$emit('clear');
    }
}
</script>

<style lang="scss" scoped>
.control-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}
</style>
