<template>
    <div class="main-grid">
        <canvas class="grid" ref="gridCanvas"></canvas>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
    AStarNode,
    SpecialState,
    calcualteManhattenDistance,
    sqrt2,
} from '../a-star-utils';
import * as PIXI from 'pixi.js';
import { sleep } from '../utils';
@Component({})
export default class MainGrid extends Vue {
    PIXIApp: null | PIXI.Application = null;
    internalGrid: AStarNode[][] = Array(1000);
    startNode: AStarNode | null = null;
    endNode: AStarNode | null = null;
    openList: AStarNode[] = [];
    specialStateSetting = '';
    cost = 1;
    gValDiagnol = 1;
    done = false;
    pointerDown = false;

    handleClick(e: PIXI.interaction.InteractionEvent) {
        const x = Math.floor(e.data.global.x / 30);
        const y = Math.floor(e.data.global.y / 30);
        if (this.specialStateSetting === 'start') {
            if (this.startNode) {
                this.startNode.specialState = 0;
            }
            this.internalGrid[y][x].specialState = SpecialState.Start;
            this.startNode = this.internalGrid[y][x];
            this.openList = [this.startNode];
            this.startNode.gVal = 0;
        } else if (this.specialStateSetting === 'end') {
            if (this.endNode) {
                this.endNode.specialState = 0;
            }
            this.internalGrid[y][x].specialState = SpecialState.End;
            this.endNode = this.internalGrid[y][x];
        } else if (this.specialStateSetting === 'obstacle') {
            this.internalGrid[y][x].specialState = SpecialState.Obstacle;
        } else if (this.specialStateSetting === 'normal') {
            this.internalGrid[y][x].specialState = SpecialState.Normal;
        }
        this.clear(true);
        if (this.endNode && this.startNode) {
            this.startNode.gVal = 0;
            this.startNode.hVal = calcualteManhattenDistance(
                this.startNode,
                this.endNode
            );
        }
    }

    async run(animate: boolean) {
        if (!this.startNode || !this.endNode) {
            return;
        }
        for (let i = 0; i < 5000; i++) {
            this.step(!animate);
            console.log(this.done);
            this.$root.$on('stop', () => {
                this.done = true;
            });
            if (this.done) {
                return;
            }
            animate && (await sleep(300));
        }
    }

    clear(keepStartEnd?: boolean) {
        this.openList.forEach(node => {
            node.inOpenList = false;
        });
        this.openList.splice(0, this.openList.length);
        if (!keepStartEnd) {
            if (this.startNode) {
                this.startNode.specialState = SpecialState.Normal;
                this.startNode = null;
            }
            if (this.endNode) {
                this.endNode.specialState = SpecialState.Normal;
                this.endNode = null;
            }
            this.drawGrid(true, true);
        } else {
            if (this.startNode) {
                this.openList.push(this.startNode);
            }
            this.drawGrid(true);
        }
        this.done = false;
    }

    mounted() {
        PIXI.utils.skipHello();

        for (let i = 0; i < Math.ceil(window.innerHeight / 30); i++) {
            this.internalGrid[i] = Array(Math.ceil(window.innerWidth / 30));
            for (let j = 0; j < Math.ceil(window.innerWidth / 30); ++j) {
                this.internalGrid[i][j] = new AStarNode(j, i);
            }
        }

        this.$root.$on('setSpecialState', (setting: string) => {
            this.specialStateSetting = setting;
        });
        this.$root.$on('setGValDiagnol', (val: number) => {
            this.gValDiagnol = val;
        });
        this.$root.$on('step', this.step);
        this.$root.$on('run', (animate: boolean) => this.run(animate));
        this.$root.$on('clear', this.clear);

        this.$nextTick(() => {
            const gridCanvas = this.$refs.gridCanvas as HTMLCanvasElement;
            this.PIXIApp = new PIXI.Application({
                view: gridCanvas,
                backgroundColor: 0xffffff,
                width: window.innerWidth * 0.8,
                height: window.innerHeight,
            });
            this.PIXIApp.renderer.plugins.interaction.on(
                'pointerdown',
                (e: PIXI.interaction.InteractionEvent) => {
                    this.pointerDown = true;
                    this.handleClick(e);
                }
            );
            this.PIXIApp.renderer.plugins.interaction.on(
                'pointermove',
                (e: PIXI.interaction.InteractionEvent) => {
                    this.pointerDown && this.handleClick(e);
                }
            );
            this.PIXIApp.renderer.plugins.interaction.on(
                'pointerup',
                (e: PIXI.interaction.InteractionEvent) => {
                    this.pointerDown = false;
                }
            );
            this.drawGrid();
        });
    }

    step(nodisplay?: boolean) {
        if (!this.startNode || !this.endNode) {
            return;
        }

        const current = this.openList[0];
        current.inOpenList = false;
        current.visited = true;
        if (current === this.endNode) {
            this.done = true;
            this.$root.$emit('done');
        }

        if (this.done) {
            let previous = this.endNode.previous;
            while (previous && previous !== this.startNode) {
                // console.log(previous);

                if (previous.specialState === SpecialState.Obstacle) {
                    console.log(previous);
                }

                previous.specialState = SpecialState.FinalPath;
                previous = previous.previous;
            }
            this.drawGrid();

            return;
        }
        this.openList.shift();

        const unvisitedNeighbors: AStarNode[] = [];
        for (let dx = -1; dx < 2; ++dx) {
            for (let dy = -1; dy < 2; ++dy) {
                const x = dx + current.x;
                const y = dy + current.y;
                if (x < 0 || x > 1000 || y < 0 || y > 1000) {
                    continue;
                }
                const neighbor = this.internalGrid[y][x];
                if (
                    neighbor.visited ||
                    neighbor.specialState === SpecialState.Obstacle
                ) {
                    continue;
                }
                const isDiagnol =
                    neighbor.x !== current.x && neighbor.y !== current.y;
                const newGVal =
                    current.gVal + (isDiagnol ? this.gValDiagnol : 1);
                if (newGVal <= neighbor.gVal) {
                    neighbor.gVal = newGVal;
                    neighbor.previous = current;
                }
                neighbor.hVal = calcualteManhattenDistance(
                    neighbor,
                    this.endNode
                );
                unvisitedNeighbors.push(neighbor);
            }
        }

        this.openList.push(...unvisitedNeighbors);
        if (this.openList.length === 0) {
            this.done = true;
            this.$root.$emit('done');
            current.visited = true;
            return;
        }
        const openListSet = new Set();
        this.openList.forEach(node => openListSet.add(node));
        this.openList = Array.from(openListSet) as AStarNode[];
        this.openList = this.openList.sort((a, b) => {
            return a.fVal - b.fVal;
        });
        this.openList.forEach(node => (node.inOpenList = true));
        // console.log(this.openList.length);
        !nodisplay && this.drawGrid();
    }

    drawGrid(clearVisited?: boolean, clearObstacle?: boolean) {
        const app = this.PIXIApp!;
        const width = app.view.width;
        const height = app.view.height;
        let g = null;
        if (this.PIXIApp && this.PIXIApp.stage.children.length > 0) {
            g = this.PIXIApp.stage.getChildAt(0) as PIXI.Graphics;
            g.clear();
        } else {
            g = new PIXI.Graphics();
            this.PIXIApp?.stage.addChild(g);
        }
        if (!g) return;
        for (let x = 0; x < width; x += 30) {
            for (let y = 0; y < height; y += 30) {
                const node = this.internalGrid[y / 30][x / 30];
                if (clearVisited) {
                    node.visited = false;
                    node.gVal = Infinity;
                    node.hVal = Infinity;
                    if (node.specialState === SpecialState.FinalPath) {
                        node.specialState = SpecialState.Normal;
                    }
                    node.inOpenList = false;
                }
                if (clearObstacle) {
                    if (node.specialState === SpecialState.Obstacle) {
                        node.specialState = SpecialState.Normal;
                    }
                }

                let color = 0xffffff;
                if (node.specialState === SpecialState.Start) {
                    color = 0x29b6f6;
                } else if (node.specialState === SpecialState.End) {
                    color = 0x6200ea;
                } else if (node.specialState === SpecialState.FinalPath) {
                    color = 0xfb8c00;
                } else if (node.specialState === SpecialState.Obstacle) {
                    color = 0x4e342e;
                } else if (node.visited) {
                    color = 0x546e7a;
                } else if (node.inOpenList) {
                    color = 0x81c784;
                }
                g.beginFill(color);
                g.drawRect(x, y, 30, 30);
            }
        }
        for (let x = 0; x < width; x += 30) {
            g.lineStyle(2, 0x0)
                .moveTo(x, 0)
                .lineTo(x, height);
        }
        for (let y = 0; y < height; y += 30) {
            g.lineStyle(2, 0x0)
                .moveTo(0, y)
                .lineTo(width, y);
        }
    }
}
</script>

<style lang="scss" scoped>
.grid {
    width: 100%;
    height: 100%;
}
.main-grid {
    width: 80%;
    height: 100%;
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
