<template>
    <v-app class="app">
        <MainGrid />
        <ControlPanel />
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import MainGrid from '@/components/MainGrid.vue';
import ControlPanel from '@/components/ControlPanel.vue';

export default Vue.extend({
    name: 'App',

    components: {
        MainGrid,
        ControlPanel,
    },

    data: () => ({
        //
    }),
});
</script>

<style lang="scss" scoped>
.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
}
</style>
